<%- include('./partials/sides-bar.ejs') %>

<main>
  <h1>Welcome to Happy Penpal !</h1>
  <h2>Actually, there are XXX users connected to our website</h2>
  <img class="friends-img" src="/images/friends.svg" alt="des amis de dos" />
</main>

<%- include('./partials/footer.ejs') %>
