<%- include('./partials/sides-bar.ejs') %>

<main>
  <h1>Welcome to Happy Penpal !</h1>

  <div class="login-content">
    <div>
      <h3 class="account-title">Sign into Your Account</h3>
      <form class="login-form" method="POST" action="/">
        <div class="form-group">
          <label for="email">Please enter your email</label>
          <input type="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Please enter your password</label>
          <input type="password" name="password" />
        </div>
        <button class="formButton">Login</button>
      </form>
      <p class="form-p">Don't have an account? <a href="/register">Sign Up</a></p>
    </div>
    <div class="login-right-part">
      <img class="friends-img" src="/images/friends.svg" alt="des amis de dos" />
    </div>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
