<%- include('./partials/sides-bar.ejs') %>

<main class="message-container">
  <div class="message-left-part">
    <h2>Incoming messages</h2>
    <div class="message-result">
      <div>
        <img src="/images/monde-coeur.jpg" alt="" />
      </div>
      <div class="message-result-introduction">
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, tenetur! Reprehenderit,
          temporibus aliquam! Alias placeat unde maxime possimus modi numquam est doloremque dolor,
          nemo ipsam.</span
        >
        <a href="#"> view message</a>
      </div>
    </div>

    <div class="message-result">
      <div>
        <img src="/images/monde-coeur.jpg" alt="" />
      </div>
      <div class="message-result-introduction">
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, tenetur! Reprehenderit,
          temporibus aliquam! Alias placeat unde maxime possimus modi numquam est doloremque dolor,
          nemo ipsam.</span
        >
        <a href="#"> view message</a>
      </div>
    </div>

    <div class="message-result">
      <div>
        <img src="/images/monde-coeur.jpg" alt="" />
      </div>
      <div class="message-result-introduction">
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, tenetur! Reprehenderit,
          temporibus aliquam! Alias placeat unde maxime possimus modi numquam est doloremque dolor,
          nemo ipsam.</span
        >
        <a href="#"> view message</a>
      </div>
    </div>

    <div class="message-result">
      <div>
        <img src="/images/monde-coeur.jpg" alt="" />
      </div>
      <div class="message-result-introduction">
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, tenetur! Reprehenderit,
          temporibus aliquam! Alias placeat unde maxime possimus modi numquam est doloremque dolor,
          nemo ipsam.</span
        >
        <a href="#"> view message</a>
      </div>
    </div>
  </div>

  <div class="message-right-part">
    <div class="message-right-first-part">
      <span>Message recieved from ****</span> <span>on ****</span>
      <span class="message-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor quo saepe ex vitae
        deleniti beatae facere earum numquam dicta aspernatur fugit reiciendis a est qui, voluptates
        animi ut exercitationem. Quaerat officiis, ut odio hic explicabo temporibus nesciunt dolores
        vel beatae voluptatem facilis laborum corrupti nostrum excepturi corporis velit cumque fugit
        iure blanditiis eius sapiente tempore placeat? Corrupti excepturi similique reiciendis
        dolores nihil vero officiis? Nemo totam vero quis dolore.</span
      >

      <span>Reply to ***</span>
    </div>
    <form action="">
      <textarea name="reply" id="" cols="70" rows="20"></textarea>
      <button class="formButton">Send message</button>
    </form>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
