<%- include('./partials/sides-bar.ejs') %>

<main class="message-container">
  <div class="message-left-part">
    <h2>Incoming messages</h2>
    <div class="receivedMessages-container">
      <% user.receivedMessages?.forEach(receivedMessage => { %>
      <div class="message-result">
        <div>
          <img src="/images/monde-coeur.jpg" alt="" />
        </div>
        <div class="message-result-introduction">
          <span> <%=receivedMessage.content%></span>
          <a href="#"> view message</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="message-right-part">
    <div class="message-right-first-part">
      <span>Message recieved from ****</span> <span>on ****</span>
      <span class="message-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor quo saepe ex vitae
        deleniti beatae facere earum numquam dicta aspernatur fugit reiciendis a est qui, voluptates
        animi ut exercitationem. Quaerat officiis, ut odio hic explicabo temporibus nesciunt dolores
        vel beatae voluptatem facilis laborum corrupti nostrum excepturi corporis velit cumque fugit
        iure blanditiis eius sapiente tempore placeat? Corrupti excepturi similique reiciendis
        dolores nihil vero officiis? Nemo totam vero quis dolore.</span
      >

      <span>Reply to ***</span>
    </div>
    <form action="">
      <textarea class="textarea-form" name="reply" id=""></textarea>
      <button class="formButton">Send message</button>
    </form>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
