<%- include('./partials/sides-bar.ejs') %>

<main>
  <div class="first-profile-part">
    <div class="first-profile-part-leftside">
      <img class="profile-picture" src="./images/chat.svg" alt="" />
      <ul class="ul-first-profile-part">
        <li id="username">UserName</li>
        <li>XX years old</li>
        <li>Country</li>
        <li>Last connexion</li>
        <li>
          Languages
          <ul class="languages-ul">
            <li>french</li>
            <li>english</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="first-profile-part-rightside">
      <h2 class="intro-title">Presentation</h2>
      <p class="intro-content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi maxime ipsum sunt
        voluptatibus provident illo assumenda quae fuga debitis odio consequatur, maiores
        repellendus sapiente iste at, non aliquid, esse itaque eos mollitia atque nemo ducimus?
        Dolores eaque commodi maxime alias enim. Atque illo suscipit a perferendis eaque earum
        deleniti quod praesentium expedita? Praesentium cum reiciendis non culpa voluptas officia,
        provident perspiciatis quis quasi. Omnis minima totam aut suscipit, nemo cumque alias
        aliquam sed maiores quisquam quas dolores sit doloribus culpa a provident architecto
        laudantium eum autem mollitia, voluptates reprehenderit. Vero quod, laudantium dolore
        consequuntur ullam libero explicabo assumenda.
      </p>
    </div>
  </div>
  <div class="second-profile-part">
    <strong class="question">What advice do you give to your love ones ? </strong>
    <p class="answer">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente similique iure iste
      exercitationem sequi assumenda at dolorem vel cumque maxime accusamus tenetur voluptatem,
      eveniet ipsa.
    </p>
    <strong class="question">What did you prefer before ? </strong>
    <p class="answer">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas omnis tenetur vel id, cumque
      eligendi error dolor nostrum? Sed, quod?
    </p>
    <strong class="question"> What makes you proud ? </strong>
    <p class="answer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ullam dignissimos molestias
      illum! Quibusdam dolores non id deserunt, tenetur nulla nostrum eveniet fuga sunt neque
      dignissimos? Natus non voluptatum incidunt!
    </p>
    <strong class="question">Would you live in another country ? </strong>
    <p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.no</p>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
