* {
  box-sizing: border-box;
}

body {
  font-family: "Poiret One", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding-block: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 1.75rem;
  text-align: center;
  padding-block: 1.25rem;
}

aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 2rem;
  height: 100vh;
  background-color: #db588a97;
}

aside ul {
  font-size: 1.5rem;
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 2rem;
  padding-top: 3rem;
  font-weight: 700;
}
aside ul a {
  text-decoration: none;
  color: black;
}
.logo-aside {
  margin-inline: auto;
  width: 7.5rem;
}

.logo-aside img {
  max-width: 100%;
  border-radius: 50%;
}

.friends-img {
  display: block;
  width: 70rem;
  margin-inline: auto;
}

main {
  padding-left: 22rem;
}

.first-profile-part,
.search-first-part {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 30rem;
}

.first-profile-part-leftside,
.search-left-side {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: #5353538b 1px 1px 5px;
  background-color: #73e8b1c7;
  height: 90%;
  width: 50%;
}
.search-left-side {
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem;
}

.search-left-side h1 {
  padding-top: 0rem;
  font-size: 2rem;
}

.search-left-side form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.first-profile-part-leftside .profile-picture {
  margin: 1.5rem;
  border: #000 solid 4px;
  width: 20rem;
  object-fit: cover;
}
.ul-first-profile-part {
  font-size: 1.5rem;
  padding-block: 1.5rem;
}

.ul-first-profile-part li {
  padding-block: 1rem;
}

.ul-first-profile-part #username {
  font-weight: 700;
  font-size: 2rem;
}

.languages-ul {
  list-style: circle;
  line-height: 0.5;
  padding-block: 0.5rem;
  padding-left: 2rem;
}
.first-profile-part-rightside {
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: #5353538b 1px 1px 5px;
  background-color: #73e8e4c7;
  height: 90%;
  width: 50%;
}
.search-right-side {
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: #5353538b 1px 1px 5px;
  height: 90%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-right-side img {
  width: 90%;
}

.intro-title {
  font-weight: 700;
}

.intro-content {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.second-profile-part,
.search-second-part {
  padding: 2rem;
  border-radius: 5px;
  box-shadow: #5353538b 1px 1px 5px;
  margin-top: 2rem;
  background-color: #b28cedc7;
  height: 30rem;
  width: 90%;
}
.search-second-part {
  height: auto;
  margin-bottom: 2rem;
}

.search-result {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.search-second-part img {
  width: 8rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.question {
  font-size: 1.5rem;
  font-weight: 700;
  padding-block: 1rem;
}

.answer,
.search-result-introduction {
  font-size: 1.25rem;
  padding-block: 1rem;
}

.search-result-introduction span {
  display: flex;
  padding-block: 1rem;
}

.search-result-introduction a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}
